<h1>Hi <%= name %></h1> 
<!-- name will display of the user -->
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
  <!-- logut redirects to register page -->
</form>
